---

---

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0; url=/fr" />
        <title>Redirecting...</title>
    </head>
    <body>
        <p>Redirecting to <a href="/fr">/fr</a>…</p>
    </body>
</html>
